.body{
    background-image: url('https://res.cloudinary.com/tamstech-computer-repair-center/image/upload/v1646312257/photo-1450101499163-c8848c66ca85_zdshtg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: fill;
    display: flex;
    flex-direction: column;
  height: 90vh;
  align-items: center;

}
.Registration-form{
    width: 100%;
    margin-left: 30%;
    padding-bottom: 5rem;
    padding-top: 2rem;
    padding-left: 5em;
    padding-right: 5em;
    background-color: inherit;

   
    
}

.form-item{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2rem;
    font-weight: 400;

}


.Password-Input, .Username-Input, .Email-Input, .Confirm-Password-Input{
    padding: 5px;
    border-radius: 2rem;
}
.Username-Label, .password-Label, .Email-Label, .Confirm-password-Label{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    

}
.form-header{
    padding-bottom: 3rem;
    color: rgb(17, 14, 14);
    font-size: xx-large;
}

#messanger{
    color: red;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.submit-btn{
padding: 2%;
background-color: inherit;
margin-left: 40%;
cursor: pointer;
border-bottom: 30%;
border-radius: 2rem;
background-color: green;}

.alreadyLoginpage{
    text-align: right;
    margin-left: 40%;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000;
    

}   

.alreadyLoginpage{
    margin-left: 30%;
}

.submit-btn{
    padding: 1px;
}
@media only screen and (min-width: 1200px) {
    .Registration-form{
        width: 70%;
    }

    .form-item{
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
.Registration-form{
    width: 70%;
}
.form-item{
    width: 100%;
}
}

@media only screen and (max-width: 1024px) {
.Registration-form{
    width: 70%;
}
}